html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Archivo Narrow', sans-serif;
  color: black;
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  font-family: 'Archivo Narrow', sans-serif;
  text-decoration: none;
  color: white;
}
.container {
  max-width: 100vw;
  margin: 0 auto;
}
.myButton {
  background-color: #085E27;
  border-radius: 28px;
  text-align: center;
  border: 1px solid #2E2F38;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 3rem;
  padding: 2vh 4vw;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2E2F38;
  filter: drop-shadow(5px 5px 5px #2E2F38);
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}
@media (max-width: 800px) {
  .myButton {
    padding: 5% 20%;
  }
}
body .call2action {
  background-color: #E9B40A;
  height: 100vh;
  background-image: url("/images/technology-lending-renting.png");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
@media (max-width: 1200px) {
  body .call2action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  body .call2action {
    background-image: none;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
}
body .call2action .call2action-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  animation: bounceIn 2s;
}
@media (max-width: 800px) {
  body .call2action .call2action-text {
    width: 75vw;
  }
}
body .call2action .call2action-text .myButton {
  margin-top: 10vh;
}
body .call2action .call2action-text h1 {
  font-size: 7rem;
  text-align: center;
  color: white;
  filter: drop-shadow(5px 5px 5px #2E2F38);
}
body .features .top-features {
  height: 50vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5vh;
}
body .features .top-features .top-text {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
}
body .features .top-features .top-text div {
  width: 30vw;
  text-align: center;
}
body .features .top-features .top-text div h2 {
  font-size: 5rem;
  filter: drop-shadow(1px 1px 1px #085E27);
}
body .features .top-features .top-text div p {
  padding: 5%;
  filter: drop-shadow(1px 1px 1px #085E27);
}
@media (max-width: 800px) {
  body .features .top-features .top-text div {
    width: 40vw;
  }
}
body .features .top-features .top-image {
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  padding-top: 10vh;
}
body .features .top-features .top-image img {
  width: 60%;
  filter: drop-shadow(1px 1px 1px #E9B40A);
}
@media (max-width: 1200px) {
  body .features .top-features .top-image img {
    width: 80%;
  }
}
@media (max-width: 800px) {
  body .features .top-features .top-image img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  body .features .top-features .top-image img {
    width: 110%;
  }
}
body .features .bottom-features {
  margin-top: 5vh;
  height: 45vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
body .features .bottom-features .features {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 40%;
}
@media (max-width: 800px) {
  body .features .bottom-features .features {
    width: 45%;
  }
}
@media (max-width: 500px) {
  body .features .bottom-features .features {
    width: 90%;
  }
}
body .features .bottom-features .features i {
  color: #085E27;
  font-size: 6rem;
}
@media (max-width: 1200px) {
  body .features .bottom-features .features i {
    font-size: 4rem;
  }
}
@media (max-width: 800px) {
  body .features .bottom-features .features i {
    font-size: 3rem;
  }
}
body .features .bottom-features .features p {
  max-width: 45ch;
  font-size: 2.2rem;
  line-height: 1.5;
  padding: 2.5vw;
  filter: drop-shadow(1px 1px 1px #085E27);
}
@media (max-width: 1200px) {
  body .features .bottom-features .features p {
    font-size: 1.6rem;
    padding: 1vw;
  }
}
@media (max-width: 500px) {
  body .features .bottom-features .features p {
    font-size: 1.4rem;
    max-width: 65ch;
  }
}
body .options {
  background-image: url("/images/new-tech.png");
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
}
@media (max-width: 800px) {
  body .options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: none;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
}
body .options .options-text {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 1200px) {
  body .options .options-text {
    width: 70vw;
  }
}
body .options .options-text h3 {
  color: white;
  font-size: 6rem;
  filter: drop-shadow(5px 5px 5px #2E2F38);
}
body .options .options-text p {
  max-width: 65ch;
}
body .options .options-select {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  margin-right: 30px;
}
@media (max-width: 800px) {
  body .options .options-select {
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
body .options .options-select .rent {
  width: 20vw;
}
@media (max-width: 800px) {
  body .options .options-select .rent {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
body .options .options-select .lend {
  width: 20vw;
}
@media (max-width: 800px) {
  body .options .options-select .lend {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
body .team {
  padding-top: 7vh;
  height: 100vh;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  overflow: auto;
}
@media (max-width: 800px) {
  body .team {
    padding-top: 10vh;
  }
}
body .team .teamMember {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 18vw;
  animation: bounceIn 2s;
}
@media (max-width: 800px) {
  body .team .teamMember {
    width: 30vw;
  }
}
@media (max-width: 500px) {
  body .team .teamMember {
    width: 80vw;
  }
}
body .team .teamMember img {
  width: 15vw;
  filter: grayscale(100%);
}
body .team .teamMember img:hover {
  filter: none;
}
@media (max-width: 800px) {
  body .team .teamMember img {
    width: 20vw;
  }
}
@media (max-width: 500px) {
  body .team .teamMember img {
    width: 60vw;
    padding-top: 5vh;
  }
}
body .team .teamMember div img {
  width: 5vw;
  padding-top: 1vh;
}
body .team .teamMember div img:hover {
  filter: invert(100%);
}
body .team h3 {
  font-size: 3rem;
  color: white;
  filter: drop-shadow(5px 5px 5px #2E2F38);
  text-align: center;
}
body .testimonials {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body .testimonials h3 {
  color: white;
}
body .testimonials h4 {
  color: white;
  font-size: 2rem;
}
body .testimonials h5 {
  font-size: 4rem;
}
body .testimonials .test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  width: 25vw;
  height: 30vh;
  margin: 20px;
  text-align: center;
}
@media (max-width: 1200px) {
  body .testimonials .test {
    margin: 0px;
    padding: 0px;
    width: 30vw;
  }
}
@media (max-width: 500px) {
  body .testimonials .test h3,
  body .testimonials .test h4 {
    font-size: 1.2rem;
  }
}
body .testimonials .test p {
  color: white;
  font-size: 2.2rem;
  text-align: center;
  padding: 25px;
}
@media (max-width: 1200px) {
  body .testimonials .test p {
    font-size: 1.8rem;
  }
}
@media (max-width: 800px) {
  body .testimonials .test p {
    font-size: 1.6rem;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  body .testimonials .test p {
    font-size: 1.2rem;
  }
}
header {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 255;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 2vh;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    position: relative;
    justify-content: space-around;
  }
}
header .logo {
  display: flex;
  justify-content: center;
  width: 40vw;
}
header .logo h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #E9B40A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 75px;
  width: 75px;
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  header .logo {
    width: 100vw;
  }
}
@media (max-width: 500px) {
  header .logo h1 {
    display: none;
  }
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 0px 10px;
  width: 60vw;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
header nav a {
  color: slategray;
  font-size: 3rem;
  line-height: 7rem;
  width: 120%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  border: 0px 1px 0px 1px;
  filter: drop-shadow(1px 1px 1px #222);
}
@media (max-width: 1200px) {
  header nav a {
    font-size: 2.4rem;
  }
}
@media (max-width: 800px) {
  header nav a {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  header nav a {
    width: 100vw;
    border-bottom: 1px solid #2E2F38;
    font-size: 4rem;
  }
}
header nav a:hover {
  color: white;
  background-color: black;
}
footer {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  height: 15vh;
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  footer {
    height: 30vh;
  }
}
footer nav {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1200px) {
  footer nav {
    flex-direction: column;
    justify-content: space-around;
  }
}
footer nav a {
  font-size: 3rem;
  text-decoration: none;
  color: #2E2F38;
}
footer nav a:hover {
  color: white;
}
@media (max-width: 500px) {
  footer nav a {
    font-size: 1.4rem;
  }
}
@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
