header {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: white;
    .logo {
        display: flex;
        justify-content: center;
        width: 40vw;
        h1 {
            
        }
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba(white, 0.6);
        border-radius: 0px 0px 0px 10px;
        width: 60vw;
        a {
            color: slategray;
            font-size: 3rem;
            line-height: 7rem;
            width: 120%;
            text-decoration: none;
            display: flex;
            justify-content: center;
            &:hover {
                color: white;
                background-color: black;
            }
        }
    }
}